@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
*{ /* modelo reset */
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  font-size: 0.95em;
  font-weight: 700;
}